<div class="container">
  <div class="jumbotron">
    <div class="container row">
      <div class="col-3">
        <img alt="Hamburger" class="rounded w-100 d-inline" src="/assets/images/burger.png">
        
      </div>
      <div class="offset-2 col-7">
        <br>
        <h1>BURGATORY</h1> 
        <hr class="my-4">
          <form class="create-form">
            <div class="form-group">
              <small class="form-text text-muted">Order Here!</small>
              <label for="burg">Burger Name:</label>
              <input type="text" id="burg" name="name">
              
            </div>
            {{!-- <div class="form-group row">
              <div class="col-8"><input type="radio" name="order" value="1" checked> Order Up!<br></div>
              <button class="btn btn-warning col-4" type="submit">Add Burger</button>
            </div> --}}

            <div class="form-inline">
            <div class="form-group">
              <input type="radio" name="order" value="1" checked> Order Up!<br>
              <button class="btn btn-warning" style="margin-left:18px;" type="submit">Add Burger</button>
            </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <div class="container row">
      <div class="col-6">

        <h2>Burger Orders: </h2>
        <hr class="my-4">
        <ul class="list-unstyled">
          {{#each burgers}}
            {{#if order}}
              {{> burgers/burger-block order=false}}
            {{/if}}
          {{/each}}
        </ul>

      </div>
      <div class="col-6">
        
        <h2>Burgers Delivered: </h2>
        <hr class="my-4">
        <ul class="list-unstyled">
          {{#each burgers}}
            {{#unless order}}
              {{> burgers/burger-block order=true}}
            {{/unless}}   
          {{/each}}
        </ul>
        
      </div>
    </div>
  </div>
</div>


